*{
    margin: 0px;
    padding: 0px;
}
    /*header section*/
.common-btn{
    background-color: rgb(66, 66, 255);
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
}
header{
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 300px;
margin: auto;
padding: 20px;
background-color: rgb(255, 255, 255);
position: sticky;
top: 0;


}
header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}
header nav ul li{
    text-decoration: none;
}
/*Hero section*/
.hero-parent{
    background-image: url(/assets/banner.jpg);
    background-size: cover;
    height: 884px;
    width: 1551px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;

   
}
.hero-parent p{
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 10px;
   

}
.hero-parent h1{
    font-size: 90px;
    margin: 0px;
    padding: 200px 0px 0px 0px;
   
}
.hero-parent button{
    margin: 350px;
    padding:20px 50px;
    font-size: 15px;
    
}
/*speakers section*/
.speakers{
    height: 1250px;
    width: 1323px;
    margin: auto;
}
.speakers-heading{
    display: flex;
    justify-content: center;
    padding: 80px 56px;
    height: 65px;
    width: 900px;
    margin: auto;
}
.speakers-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   

}
.common-card img{
    border-radius: 8px;
    
}
.common-card{
    height: 460px;
    width: 644px;
}
.role{
    font-size: 10px;
    color: rgb(37, 99, 235);
    padding: 15px 0px 10px;
}
.position{
    font-size: 15px;
    color: rgb(87, 87, 87);
    padding: 10px 0px 0px;
}
/*pricing-section*/
.pricing{
    height: 718px;
    width: 1551px;
}






   
